

.services{

    display: flex;
    flex-direction: column;
    background: var(--tg-theme-secondary-bg-color);
    height: 1000px;
}

.search_services{
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    height: 35px;
    background: var(--tg-theme-bg-color);
    border: none;
    outline:none;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 15px;
    padding-left: 20px;
}

.search_services::placeholder {
    margin-left: 10px;
}

.quick_button_block{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 20px;
}

.test_button{
    background: var(--tg-theme-bg-color);
    height: 120px;
    width: 65%;

}

.test1_button{
    background: var(--tg-theme-bg-color);
    height: 120px;
    width: 30%;
    margin-left: 3%;
}
.test2_button{
    background: var(--tg-theme-bg-color);
    height: 120px;
    width: 45%;
    margin-top: 15px;
}