

.services{
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.search_services{
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    height: 25px;
    background: transparent;
    border: none;
    outline:none;
    font-size: 18px;
    border-radius: 5px;
}

.quick_button_block{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}