@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.donation{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

.input{
    background: transparent;
    color: var(--tg-theme-text-color);
    border: none;
    font-weight: bold;
    height: 45px;
    width: 30px;
    font-size: 45px;
    outline:none;
    margin-top: 10px;
    margin-bottom: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--tg-theme-text-color);
    opacity: 1; /* Firefox */
    font-size: 45px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--tg-theme-text-color);
    font-size: 45px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--tg-theme-text-color);
    font-size: 45px;
}

.currency_text{
    font-size: 17px;
    color: grey;

}

.donation_text{
    color: var(--tg-theme-text-color);
}

.currency_cut{
    font-size: 30px;
    color: grey;
    font-weight: bold;
    justify-content: end;
}