button{
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    background: deepskyblue;
    margin: 0 0.5% 0 0.5%;
    border: none;
    height: 50px;
    width: 25%;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}