@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: relative;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-secondary-bg-color);
    font-family: 'Roboto', sans-serif;

}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    color: black;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;

}

.autoComplete{
    position: relative;
    left: 0;
    top: 10px;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    max-height: 240px;
    height: auto;
    overflow: auto;

}

.autoCompleteItem{
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}

.autoCompleteItem:hover{
    padding: 10px;
    cursor: pointer;
    background: var(--tg-theme-link-color);
    transition: cubic-bezier(1,0,0,1);
}

.select {
    padding: 10px;
    margin-top: 15px;
}